<app-navbar></app-navbar>
<div class="center-container margin-container">
    <h2 class="text-center">GESTIONAR MULTIMEDIA</h2>
    <br>
    <div class="buttons-container">
        <button [routerLink]="['/publishvideo']" class="btn btn-primary margin-btn">
            AGREGAR VIDEO
        </button>
        <button [routerLink]="['/publishaudio']" class="btn btn-primary margin-btn">
            AGREGAR BANNER
        </button>
        <!-- <button [routerLink]="['/publishbanner']" class="btn btn-primary margin-btn">
            AGREGAR BANNER
        </button> -->
        <button [routerLink]="['/publishtext']" class="btn btn-primary margin-btn">
            AGREGAR TEXTO
        </button>
    </div>
    <br>
    <br>
    <br>
    <form [formGroup]="manageMediaForm">
        <div class="form-row ">
            <div class="col-md-6 mb-3">
                <label class="sr-only" for="agengy">Agencia:</label>
                <input type="agency" class="form-control mb-2" formControlName="agency" id="agency" placeholder="Ingrese el nombre de la agencia" autocomplete="off">
            </div>
            <div class="col-md-3 mb-3">
                <button (click)="onSubmit()" class="btn btn-primary mb-2" [disabled]="manageMediaForm.invalid">BUSCAR
                    AGENCIA
                </button>
            </div>
            <div class="col-md-3 mb-3">
                <button (click)="searchClean()" class="btn btn-primary mb-2">LIMPIAR BÚSQUEDA
                </button>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-hover">
        <thead class="thead-color">
            <tr>
                <th scope="col">#</th>
                <th scope="col">AGENCIA</th>
                <th scope="col">TIPO DE RECURSO</th>
                <th scope="col">FECHA</th>
                <th scope="col">URL</th>
                <th scope="col">EDITAR</th>
                <th scope="col">ELIMINAR</th>
            </tr>
        </thead>
        <tbody *ngFor="let multimedia of multimedias; index as i">
            <tr>
                <th scope="row">{{i}}</th>
                <td>{{multimedia.point}}</td>
                <td>{{multimedia.category}}</td>
                <td>{{multimedia.dateCreated.slice(0,10)}}</td>
                <td>{{multimedia.fileName}}</td>
                <td>
                    <button  mat-button class="text-menu">
                   <!-- <button (click)="editMultimedia(multimedia)" mat-button class="text-menu"> -->
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </td>
                <td>
                    <button (click)="deleteMultimedia(multimedia)" mat-button class="text-menu">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>