<app-navbar></app-navbar>
<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>
<div class="center-container margin-container">
    <h2 class="text-center">GESTIONAR MULTIMEDIA</h2>
    <br>
    <div class="buttons-container">
        <button [routerLink]="['/publishvideo']" class="btn btn-primary margin-btn">
            AGREGAR VIDEO
        </button>
        <button [routerLink]="['/publishaudio']" class="btn btn-primary margin-btn">
            AGREGAR BANNER
        </button>
        <!-- <button [routerLink]="['/publishbanner']" class="btn btn-primary margin-btn">
            AGREGAR BANNER
        </button> -->
        <button [routerLink]="['/publishtext']" class="btn btn-primary margin-btn">
            AGREGAR TEXTO
        </button>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" placeholder="Elige una fecha" (dateChange)="changeEvent($event)">
            <mat-datepicker-toggle matSuffix [for]=" picker "></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <br>
    <br>
    <br>
    <form [formGroup]="manageMediaForm">
        <div class="form-row ">
            <div class="col-md-6 mb-3 ">
                <label class="sr-only " for="agengy">Agencia:</label>
                <input type="text" class="form-control mb-2" formControlName="agency" id="agency" [(ngModel)]="agenciaSearch" placeholder="Ingrese el nombre de la agencia" autocomplete="off">
            </div>
            <div class="col-md-3 mb-3 ">
                <button (click)="buscarAgencia() " class="btn btn-primary mb-2 " [disabled]="">BUSCAR
                    AGENCIA
                </button>
            </div>
            <div class="col-md-2 mb-3 ">
                <button (click)="searchClean() " class="btn btn-primary mb-2 ">LIMPIAR BÚSQUEDA
                </button>
            </div>
            <div class="col-md-2 mb-3">
                <button (click)="generateExcel()" class="btn btn-primary color-btn-excel mb-2">DESCARGAR
                            EXCEL
                </button>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-hover ">
        <thead class="thead-color ">
            <tr>
                <th scope="col ">#</th>
                <th scope="col ">TITULO</th>
                <th scope="col ">AGENCIA</th>
                <th scope="col ">TIPO DE RECURSO</th>
                <th scope="col ">FECHA</th>
                <th scope="col ">URL</th>
                <th scope="col ">EDITAR</th>
                <th scope="col ">ELIMINAR</th>
            </tr>
        </thead>
        <tbody *ngFor="let multimedia of multimedias; index as i ">
            <tr>
                <th scope="row ">{{i+1}}</th>
                <td>{{multimedia.title}}</td>
                <td>{{multimedia.point}}</td>
                <td>{{multimedia.category}}</td>
                <td>{{multimedia.dateCreated.slice(0,10)}}</td>
                <td>{{multimedia.fileName}}</td>
                <td>
                    <button mat-button class="text-menu " (click)="editMultimedia(multimedia) ">
                   <!-- <button (click)="editMultimedia(multimedia) " mat-button class="text-menu "> -->
                        <i class="material-icons ">
                            edit
                        </i>
                    </button>
                </td>
                <td>
                    <button (click)="deleteMultimedia(multimedia) " mat-button class="text-menu ">
                        <i class="material-icons ">
                            delete
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="loading-indicator " *ngIf="editForm ">
        <div class="center-container ">
            <div class="col-md-6 user-container ">
                <div class="card rounded-0 ">
                    <div class="card-body ">
                        <h2 class="text-center ">EDITAR MULTIMEDIA </h2>
    
                        <div class="form-group ">
                            <label for="titleAudio ">Título:</label>
                            <input class="form-control " type="text " id="titleAudio " [(ngModel)]="titleAudio " autocomplete="off ">
    
    
                        </div>
                        <div class="form-group ">
                            <label for="descriptionAudio ">Descripción:</label>
                            <input class="form-control " type="text " id="descriptionAudio " [(ngModel)]="descriptionAudio " autocomplete="off ">
    
    
                        </div>
                        <div class="form-group ">
                            <label for="descriptionAudio ">Agencia:</label>
                            <select class="custom-select " name="select " [(ngModel)]="point " id="point ">
                                    <option selected>Selecciona un punto </option>
                                    <option *ngFor="let point of points " [value]="point.id ">{{point.points}} </option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="descriptionAudio ">Fecha:</label><br>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker2" placeholder="Elige una fecha" [(ngModel)]="fechaEdit" (dateChange)="changeEvent2($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <br>
                        <br>
    
                        <br>
                        <div class="container-btn-form ">
                            <button (click)="editDataMultimedia() " class="btn btn-primary btn-register ">ACTUALIZAR</button>
                            <button (click)="cancel() " class="btn btn-secondary ">CANCELAR</button>
                        </div>
                        <div *ngIf="invalidLogin ">
                            <div>
                                Invalid credentials.
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
