<app-navbar></app-navbar>
<div class="center-container">
    <div class="col-md-6 user-container margin-bottom">
        <div class="card rounded-0">
            <div class="card-body">
                <h2 class="text-center">ACTUALIZAR DATOS DEL USUARIO </h2>
                <form [formGroup]="loginForm">
                    <i class="material-icons icon-register">
                        group_add
                    </i>
                    <div class="form-group">
                        <label for="email">Correo electrónico:</label>
                        <input class="form-control" type="email" formControlName="email" id="email" autocomplete="off">
                        <div class="form-control is-invalid"
                            *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">

                        </div>
                    </div>
                    <div class="form-group">
                            <label for="name">Nombres:</label>
                            <input class="form-control" type="name" formControlName="name" id="name" autocomplete="off">
                            <div class="form-control is-invalid"
                                *ngIf="loginForm.controls['name'].hasError('required') && loginForm.controls['name'].touched">
    
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="numCel">Numero de celular:</label>
                        <input class="form-control" type="number" formControlName="numCel" id="numCel"
                            autocomplete="off">
                        <div class="form-control is-invalid"
                            *ngIf="loginForm.controls['numCel'].hasError('required') && loginForm.controls['numCel'].touched">

                        </div>
                    </div>
                    <br>
                    <label for="typeUser">Seleccione un tipo de usuario:</label>
                    <select class="custom-select" (change)="selectTypeUser($event)" formControlName="typeUser"
                        name="select" id="typeUser">
                        <option *ngFor="let user of typeUsers" value="value1">{{user.type}} </option>
                    </select>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input class="form-control" type="password" formControlName="password" id="pwd"
                            autocomplete="off">
                        <div class="message-alert"
                            *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">

                        </div>
                    </div>
                    <div class="container-btn-form">
                        <button (click)="onSubmit()" class="btn btn-primary  btn-register" [disabled]="loginForm.invalid">REGISTRAR</button>
                        <button (click)="cancel()" class="btn btn-secondary">CANCELAR</button>
                    </div>

                    <div *ngIf="invalidLogin">
                        <div>
                            Invalid credentials.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>