<!-- <mat-toolbar class="title-bar" color="primary">
  <mat-toolbar-row class="navbar">
    <span>Web admin</span>
    <span class="example-spacer"></span>
    <button *ngIf="showButton" routerLink="/publishvideo" mat-button class="text-menu">PÚBLICAR VIDEO</button>
    <button *ngIf="showButton" routerLink="/publishbanner" mat-button ton class="text-menu">PÚBLICAR BANNER</button>
    <button *ngIf="showButton" routerLink="/publishtext" mat-button class="text-menu">PÚBLICAR TEXTO</button>
    <button *ngIf="showButton" routerLink="/home" mat-button class="text-menu">INICIO</button>
    <div *ngIf="showButton" routerLink="/login" (click)="logout($event)">
      <button  mat-button class="text-menu">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">perm_identity
        </mat-icon>
        <span>CERRAR SESIÓN</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<mat-sidenav-container class="example-container color-navbar" *ngIf="shouldRun">
  <mat-sidenav class="content-menu" #sidenav [mode]="mode.value">
    <p>
      <button mat-button (click)="sidenav.toggle()">
          <i class="material-icons color-icon">list</i>
          <span class="color-icon">MENU</span>
      </button>
    </p>
    <p>
      <button routerLink="/manageuser" class="option-menu" mat-menu-item>
  
        <span class="color-icon">GESTIONAR USUARIOS</span>
      </button>
      <button routerLink="/publishvideo" class="option-menu" mat-menu-item>
  
        <span class="color-icon">GESTIONAR MULTIMEDIA</span>
        
      </button>
      <button routerLink="/manageagency" class="option-menu" mat-menu-item>
  
        <span class="color-icon">GESTIONAR AGENCIA</span>
      </button>
      <button routerLink="/activityregister" class="option-menu" mat-menu-item>

        <span class="color-icon">GESTIONAR ACTIVIDAD</span>
      </button>
      <button (click)="logout($event)" class="option-menu" mat-menu-item>
     
        <span class="color-icon">CERRAR SESION</span>
      </button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <button class="option-menu" mat-button (click)="sidenav.toggle()">
        <i class="material-icons color-icon">list</i>
        <span class="color-icon">MENU</span>
      </button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>