<mat-toolbar class="title-bar" color="primary">
        <mat-toolbar-row class="navbar">
          <span>Web admin</span>
          <span class="example-spacer"></span>
          <button routerLink="/publishvideo" mat-button class="text-menu">PÚBLICAR VIDEO</button>
          <button routerLink="/publishbanner"  mat-button ton class="text-menu">PÚBLICAR BANNER</button>
          <button routerLink="/publishtext" mat-button class="text-menu">PÚBLICAR TEXTO</button>
          <button routerLink="/inicio" mat-button class="text-menu">INICIO</button>
          <div  routerLink="/login">
            <button mat-button class="text-menu">
              <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">perm_identity</mat-icon>
              <span>INICIAR SESIÓN</span>
            </button>
          </div>
        </mat-toolbar-row>
</mat-toolbar>
