<mat-sidenav-container class="example-container color-navbar text-center" *ngIf="shouldRun">
    <mat-sidenav class="content-menu" #sidenav [mode]="mode.value">
        <p class="container-icon-user">
            <button class="user-container" mat-button disabled>
              <i class="material-icons color-icon size-ico">account_circle</i>
            </button>
        </p>
        <span class="color-icon margin-text sss">{{userLogin.correo}}</span>
        <br>
        <span class="color-icon margin-text sss">{{userLogin.username}}</span>
        <br>
        <br>
        <p>
            <button *ngIf="isAdmin" routerLink="/manageuser" class="option-menu" mat-menu-item>
            <i class="material-icons" style="color: white;">people</i>
            <span class="color-icon">GESTIONAR USUARIOS</span>
          </button>
            <button routerLink="/managemultimedia" class="option-menu" mat-menu-item>
            <i class="material-icons white" style="color: white;">image</i>
            <span class="color-icon">GESTIONAR MULTIMEDIA</span>
          </button>
            <button routerLink="/manageagency" class="option-menu" mat-menu-item>
            <i class="material-icons white" style="color: white;">account_balance</i>
            <span class="color-icon">GESTIONAR AGENCIA</span>
          </button>
            <button routerLink="/activityregister" class="option-menu" mat-menu-item>
            <i class="material-icons white" style="color: white;">event_note</i>
            <span class="color-icon">GESTIONAR ACTIVIDAD</span>
          </button>
            <button (click)="logout($event)" class="option-menu" mat-menu-item>
            <i class="material-icons white" style="color: white;">power_settings_new</i>
            <span class="color-icon">CERRAR SESION</span>
          </button>
        </p>
    </mat-sidenav>
    <mat-sidenav-content>
        <p class="menu-btn">
            <button mat-button (click)="sidenav.toggle()">
        <i class="material-icons color-icon">list</i>
        <span class="color-icon">MENU</span>
      </button>
        </p>
    </mat-sidenav-content>
</mat-sidenav-container>