<app-navbar></app-navbar>
<div class="center-container">
    <div class="col-md-6 user-container">
        <h2 class="text-center">PÚBLICAR AUDIO </h2>
        <form [formGroup]="publishAudioForm" (ngSubmit)="upload()">
            <div class="form-group">
                <label for="titleAudio">Título:</label>
                <input class="form-control" type="text" formControlName="titleAudio" id="titleAudio" autocomplete="off">
                <div
                    *ngIf="publishAudioForm.controls['titleAudio'].hasError('required') && publishAudioForm.controls['titleAudio'].touched">
        
                </div>
            </div>
            <div class="form-group">
                <label for="descriptionAudio">Descripción:</label>
                <input class="form-control" type="text" formControlName="descriptionAudio" id="descriptionAudio"
                    autocomplete="off">
                <div
                    *ngIf="publishAudioForm.controls['descriptionAudio'].hasError('required') && publishAudioForm.controls['descriptionAudio'].touched">
                  
                </div>
            </div>
            <select class="custom-select" (change)="selectPoint($event)" formControlName="pointName" name="select"
                id="point">
                <option selected>Selecciona un punto </option>
                <option *ngFor="let point of points" value="value1">{{point.points}} </option>
            </select>
            <br>
            <br>
            <div class="form-group">
                <div class="form-group">
                    <label for="fileVideo">Agregar video</label>
                    <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1"  multiple #fileInput data-multiple-caption="{count} archivos seleccionados" multiple />
                    <a class="boton_greentdp " id="subirAudioVisible" (click)="upload()">SUBIR</a>
                    <input formControlName="fileVideo" type="file" class="form-control-file" id="fileVideo"
                        autocomplete="on" (change)="loadImage($event)">
                </div>
                <div
                    *ngIf="publishAudioForm.controls['fileVideo'].hasError('required') && publishAudioForm.controls['fileVideo'].touched">
                   
                </div>
            </div>
            <br>
            <button class="btn btn-success">Subir</button>
            <div *ngIf="invalidLogin">
                <div>
                    Invalid credentials.
                </div>
            </div>
        </form>
    </div>
</div>