<div class="row">
        <div>
            <h2 style="margin: auto">Registrar usuario </h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="email">Correo electrónico:</label>
                    <input type="email" formControlName="email" id="email" autocomplete="off">
                    <div
                        *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                        Username is required
                    </div>
                </div>
                <div>
                    <label for="pwd">Contraseña:</label>
                    <input type="password" formControlName="password" id="pwd" autocomplete="off">
                    <div
                        *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                        Password is required
                    </div>
                </div>
                <button [disabled]="loginForm.invalid">Login</button>
                <div *ngIf="invalidLogin">
                    <div>
                        Invalid credentials.
                    </div>
                </div>
            </form>
        </div>
    </div>