<div class="col-md-6 user-container">
    <h2 class="text-center">Públicar banner </h2>
    <form [formGroup]="publishBannerForm" (ngSubmit)="upload()">
        <div class="form-group">
            <label for="titleBanner">Título:</label>
            <input class="form-control" type="text" formControlName="titleBanner" id="titleBanner" autocomplete="off">
            <div
                *ngIf="publishBannerForm.controls['titleBanner'].hasError('required') && publishBannerForm.controls['titleBanner'].touched">
                Username is required
            </div>
        </div>
        <div class="form-group">
            <label for="descriptionBanner">Descripción:</label>
            <input class="form-control" type="text" formControlName="descriptionBanner" id="descriptionBanner"
                autocomplete="off">
            <div
                *ngIf="publishBannerForm.controls['descriptionBanner'].hasError('required') && publishBannerForm.controls['descriptionBanner'].touched">
                Password is required
            </div>
        </div>
        <select class="custom-select" (change)="selectPoint($event)" formControlName="pointName" name="select"
            id="point">
            <option selected>Selecciona un punto </option>
            <option *ngFor="let point of points" value="value1">{{point.points}} </option>
        </select>
        <br>
        <br>
        <div class="form-group">
            <div class="form-group">
                <label for="customFileLang">Agregar imagen</label>
                <input formControlName="fileImage" type="file" class="form-control-file" id="fileImage"
                    autocomplete="off" (change)="loadImage($event)">
            </div>
            <div
                *ngIf="publishBannerForm.controls['fileImage'].hasError('required') && publishBannerForm.controls['fileImage'].touched">
                Username is required
            </div>
        </div>
        <br>
        <button class="btn btn-success" [disabled]="publishBannerForm.invalid">Subir</button>
        <div *ngIf="invalidLogin">
            <div>
                Invalid credentials.
            </div>
        </div>
    </form>

</div>