<div class="row">
    <div>
        <h2 style="margin: auto">Públicar texto </h2>
        <form [formGroup]="publishTextForm" (ngSubmit)="upload()">
            <div>
                <label for="titleText">Titulo:</label>
                <input type="text" formControlName="titleText" id="titleText" autocomplete="off">
                <div
                    *ngIf="publishTextForm.controls['titleText'].hasError('required') && publishTextForm.controls['titleText'].touched">
                    Username is required
                </div>
            </div>
            <div>
                <label for="textContent">Ingresa el texto:</label>
                <textarea type="text" formControlName="textContent" id="pwd" autocomplete="off"></textarea>
                <div
                    *ngIf="publishTextForm.controls['textContent'].hasError('required') && publishTextForm.controls['textContent'].touched">
                    Password is required
                </div>
            </div>
            <select  (change)="selectPoint($event)" formControlName="pointName" name="select" id="point">
                <option *ngFor="let point of points" value="value1">{{point.points}} </option>
            </select>
            <button [disabled]="publishTextForm.invalid">Públicar</button>
            <div *ngIf="invalidLogin">
                <div>
                    Invalid credentials.
                </div>
            </div>
        </form>
    </div>
</div>