<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="600px">
    <mat-grid-tile>
        <div class="example-container">
            <h1 class="title-page">Públicar un video</h1>
            <mat-form-field class="form-row">
                <input matInput  placeholder="Título">
            </mat-form-field>
            <mat-form-field class="form-row">
                <input matInput placeholder="Descripción">
            </mat-form-field>
            <mat-form-field class="form-row">
                <textarea matInput placeholder="Link del video"></textarea>
            </mat-form-field>
            <input type="file">
            <button mat-raised-button>Cancelar</button>
            <button mat-raised-button color="primary">Subir</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>