<div class="container-page">
  
  <router-outlet></router-outlet>

  <!--  ESTE MENU ES PARA MOVIL
    <mat-sidenav-container class="example-container" *ngIf="shouldRun">
        <mat-sidenav class="content-menu" #sidenav [mode]="mode.value">
          <p><button mat-button (click)="sidenav.toggle()"><i class="material-icons">list</i></button></p>
          <p>
              <button class="option-menu" mat-menu-item>
                <i class="material-icons">
                  home
                </i>
                Inicio
              </button>
              <button class="option-menu" mat-menu-item>
                <i class="material-icons">
                  missed_video_call
                </i>
                Públicar video
              </button>
              <button class="option-menu" mat-menu-item>
                <i class="material-icons">
                  image
                </i>
                Públicar banner
              </button>
              <button class="option-menu" mat-menu-item>
                <i class="material-icons">
                  edit
                </i>
                Publicar texto
              </button>
              <button class="option-menu" mat-menu-item>
                <i class="material-icons">
                    person
                </i>
                  Iniciar sesión
              </button>
          </p>
        </mat-sidenav>
        <mat-sidenav-content >
          <p><button mat-button (click)="sidenav.toggle()"><i class="material-icons">list</i></button></p>
        </mat-sidenav-content>
      </mat-sidenav-container>
      
      <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
      -->    
</div>